<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="./static/images/normalize.css" rel="stylesheet" />
    <link href="./static/images/style.css" rel="stylesheet" />
    <script src="./static/js/seajs/seajs.js"></script>
    <script>
        seajs.config({
            base: './static/js',
            charset: 'utf-8',
            alias: {
                'jquery': 'core/jquery',
                'underscore': 'core/underscore',
                'backbone': 'core/backbone'
            }
        })
    </script>
</head>
<body>
<div class="wrapper" style="display:none;">
    <div class="sidebar">
        <div class="logo">
            <p>个云</p>
        </div>
        <div class="upload">
            <a href="javascript:;" class="btnType2">上传</a>
        </div>
        <div class="version">
            <p>版本号：<%=pkg.version%></p>
        </div>
    </div>
    <div class="mainCon">
        <div class="hd">
            <div class="crumb">
                <a href="javascript:;" class="btnType1 jsBack">返回</a>
            </div>
            <div class="userArea">
                <span>admin</span>
                <a href="javascript:;" class="btnType1 jsLogout">退出</a>
            </div>
        </div>
        <div class="bd">
            <div class="control-bar">
                <a href="javascript:;" class="btnType3 no-icon fRight jsRefresh">刷新</a>
                <a href="javascript:;" class="btnType3 no-icon jsNew">新建文件夹</a>
                <!-- <a href="javascript:;" class="btnType3 jsCopy"><i class="icon icon-copy"></i><span>复制</span></a> -->
                <a href="javascript:;" class="btnType3 jsMove"><i class="icon icon-move"></i><span>移动</span></a>
                <a href="javascript:;" class="btnType3 jsDelete"><i class="icon icon-delete"></i><span>删除</span></a>
                <a href="javascript:;" class="btnType3 jsRename"><i class="icon icon-rename"></i><span>重命名</span></a>
                <a href="javascript:;" class="btnType3 jsDownload"><i class="icon icon-download"></i><span>下载</span></a>
            </div>
            <div class="file-con">
                <img class="loading-img" src="static/images/loading.gif" />
                <ul class="load-hidden cf">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="login-wrapper"></div>
<img src="./static/images/24.gif" style="display:none;" />
<script type="text/template" id="file_template">
<li>
    <div class="checked"></div>
    <div class="fileicon"><a class="file-icon <%= fileIcon %>" href="javascript:;"></a></div>
    <a class="filename" href="javascript:;"><%= fileName %></a>
</li>
</script>
<script type="text/template" id="login_template">
<div class="login-box">
    <div class="input-area cf">
        <label>用户名：</label><input type="text" placeholder="请输入用户名" />
    </div>
    <div class="input-area cf">
        <label>密码：</label><input type="password" placeholder="请输入密码" />
    </div>
    <div class="input-area cf">
        <a href="javascript:;" class="btnType1 jsLogin load-hidden">登录</a>
        <img class="loading-img" src="static/images/loading.gif" />
    </div>
    <p class="error-msg">error</p>
</div>
</script>
<script src="./static/js/main.js"></script>
<script>
    seajs.use('app', function(app){});
</script>
</body>
</html>